#Ignoring Gerber files
/MotoDriver.TXT
/MotoDriver.dri
/MotoDriver.GBL
/MotoDriver.GBO
/MotoDriver.GBS
/MotoDriver.GML
/MotoDriver.gpi
/MotoDriver.GTL
/MotoDriver.GTO
/MotoDriver.GTP
/MotoDriver.GTS
